@page
@model MegaDeskWeb.Pages_DeskQuotes.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<h1>Details</h1>

<div>
    <h4>DeskQuote</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.customerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.customerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.contactInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.contactInfo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.startDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.startDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.finishDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.finishDate)
        </dd>
        <hr>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.Desk.width)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.Desk.width)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.Desk.depth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.Desk.depth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.Desk.drawerCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.Desk.drawerCount)
        </dd>
                <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.Desk.Material)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Material.name)
        </dd>
        <hr>
            <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.quoteTotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.quoteTotalPrice)
        </dd>
    </dl>
</div>

    
    <form method="post">
        <input type="hidden" asp-for="DeskQuote.DeskQuoteId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
