@page
@model MegaDeskWeb.Pages_ExtraPages_RushOptions.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RushOption[0].days)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RushOption[0].basePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RushOption[0].modifier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RushOption) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.days)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.basePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.modifier)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RushOptionId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.RushOptionId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.RushOptionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
